<section [attr.data-replace]="getDataReplace()" class="{{example.direction ? 'bg-solarized-bg' : 'bg-white'}} md:h-screen p-10 duration-1000 delay-500 relative transform opacity-0 transition-all {{example.direction ? '' : '-'}}translate-x-12 ease-in-out py-24 w-full flex justify-center flex-row text-slate-700">
    <div class="container flex justify-center flex-col">
        <div class="text-center">
            <h2 class="mb-12 text-5xl">{{example.title}}</h2>
        </div>
        <div [attr.data-replace]="getDataReplace()" class="flex flex-col justify-center items-center md:flex-row duration-1000 delay-700 relative transform opacity-0 transition-all {{example.direction ? '' : '-'}}translate-x-12 ease-in-out flex flex-wrap flex-row text-xl">
            <div class="w-1/2 text-slate-400 flex flex-row justify-center md:mb-0 mb-10">
                <pre [innerHTML]="example.html | prettyhtml: [true, 3]"></pre>
            </div>
            <div class="md:w-1/2 w-full flex flex-col justify-center">
                <div class="flex flex-row">
                    <div class="font-bold pt-1 pr-4 text-slate-700 mb-6">
                        Query:
                    </div>
                    <div class="pt-1 text-slate-700">
                        <div [innerHTML]="example.query"></div>
                    </div>
                </div>
                <div class="font-bold pt-1 pr-4 text-slate-700 md:mb-0 mb-10">
                    Result:  <span class="font-normal text-blue-500 px-2">{{example.result}}</span>
                </div>
                <div [innerHTML]="example.text" class="text-xl mt-4 text-justify">
                    
                </div>
            </div>
        </div>
    </div>
</section>