<div class="bg-gray-900 pt-32 pb-32 flex items-center flex-col w-full">
    <div class="md:flex hidden flex-wrap flex-row justify-evenly mb-20 w-full">
        <div class="w-full text-slate-400 flex flex-row justify-around text-xl">
            <div class="px-10 mx-10 flex flex-col">
                <a class="font-bold text-white text-2xl pb-2">Documentation and FAQ</a>
                <a href="/docs" class="pb-2 hover:text-slate-300">Documentation</a>
                <a href="/docs" class="pb-2 hover:text-slate-300">FAQ</a>
            </div>
            <div class="px-10 mx-10 flex flex-col">
                <a class="font-bold text-white text-2xl pb-2">Your Scraping Configs & Results</a>
                <a href="/configs" class="pb-2 hover:text-slate-300">Configs</a>
                <a href="/results" class="pb-2 hover:text-slate-300">Results</a>
            </div>
            <div class="px-10 mx-10 flex flex-col">
                <a class="font-bold text-white text-2xl pb-2">The Configuration Editor</a>
                <a href="/config/add" class="pb-2 hover:text-slate-300">+ Add a new Config</a>
            </div>
        </div>
    </div>
    <div class="md:block hidden border-b-2 border-slate-600 w-5/6">

    </div>
    <div class="flex flex-wrap md:flex-row flex-col justify-evenly md:mt-20 mt-6 w-full p-4">
        <div class="md:text-5xl text-4xl text-slate-300 p-2 font-bold text-center">
            <span class="text-slate-400">&lt;</span><span class="text-blue-400">DOM</span><span class="text-slate-400">/&gt;</span>inator
        </div>
        <div class="md:text-5xl text-4xl text-slate-300 p-2 font-bold text-center hidden md:flex">
            <span class="text-slate-400 font-light">-</span>
        </div>
        <div class="md:text-5xl text-4xl text-slate-300 p-2 font-bold text-center">
            <span class="text-slate-400 font-light">Webscraping made easy!</span>
        </div>
        <div class="md:text-2xl text-2xl text-white p-2 pt-4 font-light text-center">
            Designed and developed by Niklas Oberhuber.
        </div>
    </div>
</div>
